.about{
	background: #f2f2f2;
	
}
.content-about{
	max-width: 980px;
	margin: auto;
}

.img-about{
	margin: 2em 0;
}


/* SOMENTE MOBILE */
@media (max-width: 480px) { 
	
}
/* SOMENTE MOBILE */

/* SOMENTE TABLET */
@media (min-width: 481px) and (max-width: 1023px) {}
/* SOMENTE TABLET */


/* TABLET e MOBILE */
@media (max-width: 1023px) { 
		
}
/* TABLET e MOBILE */

/* TABLET e DESK */
@media (min-width: 481px) {    
}
/* TABLET e DESK */

/* SOMENTE DESK */
@media (min-width: 1024px) {
	
}
/* SOMENTE DESK */

